---
---

@import "{{ site.theme }}";
pre, code {
  background-color: lightgray;
}
h2 {
  margin-top: 60px;
}
h5 {
  color: gray;
}
img {
  width: 640px;
}
a img {
  width: 300px;
}
ol ol { list-style-type: lower-alpha; }
